body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #74e178;
}

form {
    width: 70%;
    background-color: crimson;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    margin-left: 160px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

form input[type="text"], form textarea {
    
    width: 100%;
    padding: 10px;
    background-color: rgb(249, 246, 246);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

form button {
    display: block;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 380px;
}

form button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
